ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #561530;
}
    body {
    background-image: url("god2.jpg");
    background-color: #cccccc;
}

 @font-face {
    font-family: bubble;
    src: url(Azzzz.ttf);

} h1 {
	font-family: bubble;
   	 margin:20px; }

li {
    float: left;
}

li a {
    display: block;
    color:#DA4683 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: pink;
}

h1 {
    color : #962755
}
