img {

    margin: center;
    text-align: center;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}
div { font-family: bubble;
   	 margin:20px;
           color:lightgreen;
	font size=20px;
}

    body {
    background-image: url("download1.jpg");
    background-color: #cccccc;
}

 @font-face {
    font-family: bubble;
    src: url(Azzzz.ttf);
} 
li {
    float: left;
	font-family: bubble;
}

li a {
    display: block;
    color:#FFFFFF ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #07FA03;
}

h1 {
    color : #00F0FF;
	font size:20px; 
	font-family: bubble;
   margin:20px; 
	text-align: center;
}
p {
    color : #00FEB5;
	font size:20px;
	text-align: center;
}
h3 {
    color : #00F0FF;
	font size:20px;
	text-align: center;
}
h5 {
    color : #00F0FF;
	font size:20px;
	text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}
