ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}
div { font-family: bubble;
   	 margin:20px;
           color:lightgreen;
	font size=20px;
}

    body {
    background-image: url("Global8");
    background-color: #cccccc;
}

 @font-face {
    font-family: bubble;
    src: url(Azzzz.ttf);

} h1 {
	font-family: bubble;
   	 margin:20px; }

li {
    float: left;
}

li a {
    display: block;
    color:#0321FA ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #07FA03;
}

h1 {
    color : #54FF46
}
p {
    color : #54FF46
}
